.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}

.nav-item {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

.nav-item a {
  font-size: 19px;
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}

.nav-item a:hover {
  color: gray;
}

